#sonylogo {
    /* padding: 20px; */
    margin-top: 20px;
    width: 100%;
    max-width: 30vw;
}

img.pianoroll {
    width: 100%;
    height: auto;
}

audio {
    width: 100%;
}

#logorow {
    padding-top: 10px;
}
/* @media screen and (max-width: 1680px) { */

/* } */

/* @media screen and (max-width: 1366px) { */

/* } */

@media screen and (max-width: 736px) {

    #sonylogo {
	padding: 20px;
	width: 100%;
	max-width: 50vw;
    }

}

